body {
    background-color: #FAFAFA;
    color: #666666;
    font-family: "Raleway", sans-serif;
}

h2 {
    color: #266b29;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

p {
    font-weight: 400;
    color: #343333;
    
}

header {
    padding: 1.25rem 5rem
}

section {
    padding: 0.625rem 1.25rem;
    
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem auto;
    max-width: 62.5rem;
    
}

.hero-image img {
    max-width: 100%;
}

@media (max-width: 48rem) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    background-color: white;

    border-radius: 0.75rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #6FAF7A;
    font-weight: 300;
}

.highlight {
    color: #4CAF50;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-links a {
    position: relative;
    color: #6FAF7A;
    
}

.navbar-links a::after {
    content: "";
    position:absolute;
    width: 0%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

.navbar-links a:hover::after {
    left:50%;
    transform: translateX(-50%);
    width: 100%;
}
.apply {
    font-size: 1rem;
    border-radius: 12px;
    border: none;
    padding: 0.75rem 0.75rem;
    background-color: #2E7D32;
    color: white;
    display:inline-block;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.apply:hover {
    background-color: #4CAF50;
    font-size: 1.25rem;
}
